* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

main {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  padding: 20px 40px;
  width: max(345px, 50%);
  
  background-color: #FEFBE7;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.article-quote {
  margin-bottom: 20px;
  font-size: max(16px, 25px);
}

.article-author {
  margin-bottom: 20px;

  font-size: max(16px, 30px);
  font-style: italic;
  text-align: end;
}

.box-button {
  text-align: end;
}
